.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.input-group { margin-bottom:10px; }
.separator { border-right: 1px solid #dfdfe0; }
.facebook,.twitter { min-width:170px; }
.facebook { background-color:#3B5998;color:#fff; }
.vk { background-color:#587EA3;color:#fff; }
.google { background-color:#DD4B39;color:#fff; }
.twitter { background-color:#55ACEE;color:#fff; }
.facebook:hover,.twitter:hover { color:#fff; }


body {
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background: #f8f8f8 url(../images/bg.png);
    margin: 0;

}

#username{
    font-size: 15px;
}


button {
    color: #fff;
    background-color: #81898f;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
form[name="search"] {
    float: right;

}

nav {
    background: #f3f3f3;
    border: 1px solid #e7e7e7;
}

#heading {
    margin: 40px 0;

}

#wrapper {
    max-width: 80%;
    margin: auto;
}

header {
    padding: 28px 0;

}
.text {
    text-align: center;
}

aside {
    float: left;
    width: 250px;
}


section {
    margin-left: 280px;
    padding-bottom: 50px;
}

nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}
nav {
    margin-top: 25px;
    width: 100%;
}


nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 135px;
    margin: 0;
    width: 2%;

}

.top-menu li.active {
    background: #383e41;
    color: #fbfdff;
}

.top-menu a {
    color: #b2b2b2;
}

.aside-menu li {
    font-weight: 300;
    list-style-type: square;
    border-top: 1px solid #e7e7e7;
}

.aside-menu li.active {
    color: #383e41;
    font-weight: bolder;
}

.aside-menu a {
    color: #8f8f8f;
}

blockquote {
    margin: 0;
    background: #81898f;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

blockquote p {
    color: #fff;
    font-style: italic;
    font-size: 33px;
    margin: 0;
}



figure {
    display: inline-block;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}


#logout {
    float: right;
}




