    /*Buttons for auth*/
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 10px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.input-group { margin-bottom:10px; }
.separator { border-right: 1px solid #dfdfe0; }
/*.facebook,.twitter, .vk, .google { min-width:160px; }*/
.facebook { background-color:#3B5998;color:#fff; }
.vk { background-color:#587EA3;color:#fff; }
.google { background-color:#DD4B39;color:#fff; }
.twitter { background-color:#55ACEE;color:#fff; }
.facebook:hover, .twitter:hover, .vk:hover, .google:hover { color: #383e41; }

    /*main page*/

html {
    height: 100%;
    width: 100%;
}

body {
    color: #383e41;
    font: 13px Tahoma, sans-serif;
    background: #f8f8f8 url(../images/back.jpg) no-repeat;
    background-size: cover;
    margin: 0;

}

#username_hello{
    color: #383e41 !important;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: normal !important;
    /*margin: 0;*/
    margin-bottom: 0;
    padding-top: 5px;
    text-align: right;
}

.link_log {
    /*float: right;
    margin-left: 10px;*/
    font-family: 'Oswald';
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 5px;
    text-decoration: none;
    color: #ffffff;
    /*background-color: #d5d8d8;*/
    background-color: #B71C1C;
    border-radius: 3px;
}

.link_log:hover {
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #d5d8d8, #fffbfd);
    color: #383e41;
}

button {
   /* color: #383e41;
    background-color: #d4d5d8;*/
    background-color: #B71C1C;
    color: white;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    border-radius: 3px;
}
form[name="search"] {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    align-items: center;
}

nav {
    background: #f3f3f3;
    border: 1px solid #e7e7e7;
}

#heading {
    margin: 30px 0;
}

#wrapper {
    max-width: 80%;
    margin: auto;
}

.bodyWrapper {
    display: flex;
    justify-content: space-between;
}

    .bodyWrapper >div {
        flex-basis: 78%;
        padding-left: 2%;
        flex-grow: 1;
    }

header {
    padding-top: 25px;
}

.text {
    text-align: center;
    color: #B71C1C;
}

aside {
    /*float: left;
    width: 200px;
    margin-right: 54px;*/
    flex-basis: 20%;
    flex-grow: 1;
    max-width: 200px;
    /*box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .2);*/
}

nav{
    border-radius: 3px 0 0 3px;
}

/*section {
    margin-left: 280px;
    padding-bottom: 50px;
}*/

nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
}


nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

/*.top-menu li {
    display: inline-block;
    padding: 10px 135px;
    margin: 0;
    width: 2%;

}*/

/*.top-menu li.active {
    background: #383e41;
    color: #fbfdff;
}*/

.top-menu a {
    color: #b2b2b2;
}

.aside-menu li {
    font-weight: 300;
    list-style-type: none;
    border-top: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
}

/*.aside-menu a:active {
    color: #383e41;
    font-weight: bolder;
}

.aside-menu a:hover {
    color: #383e41;
    font-weight: bolder;
}*/

.aside-menu a:focus {
    color: #b71c1c;
    font-weight: bolder;
}

.aside-menu a {
    /*color: #8f8f8f;*/
    color: #616161;
    padding-left: 15px;
}

blockquote {
    margin: 0;
    /*background: -webkit-linear-gradient(180deg, #EEEEEE, #81898f);*/
    /*background-color: #81898f;*/
    background-color: #c1c1c1;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    border-radius: 3px 0 0 3px;
}

blockquote p {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
    margin: 0;
}

/*figure {
    display: inline-block;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}*/

#logout {
    float: right;
}

h1 {
    width: 80%;
    text-shadow: 4px 3px 0 #d4d5d8, 9px 8px 0 rgba(0,0,0,0.15);
    /*position: absolute;*/
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
   /* margin-left: 35%;*/
    padding-right: 20%;
    margin-top: 250px;
    /*top: 50%;
    left: 55%;
    margin-right: -55%;
    transform: translate(-55%, -55%)*/
    /*z-index: -1;*/
}

.rbc-calendar {
    background-color: #ffffff;
    /*margin-left: 250px;*/
    height: 78vh !important;
    position: relative;
}

.rbc-header {
    background-color: #d4d5d8;
}

    .rbc-toolbar {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .rbc-toolbar .rbc-toolbar-label {
        color: #0c0c0c;
        font-size: 20px;

        padding: 15px!important;
    }

    :global .react-datepicker-popper {
        z-index:5!important;
    }
    .rbc-month-row {
        z-index: 0;
    }

    .rbc-off-range-bg {
        background: #f6f7fb!important;
    }

/*.rbc-toolbar-label {
    color: #0c0c0c;
}*/

.rbc-event {
    background-color: rgba(162, 162, 166, 0.93) !important;
    border: 1px solid #000000 !important;
}



/*Alex10101 info-window & info-button*/

.info-show {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.info-button {
    height: 16px;
    font-size: 12px;
    font-weight: bolder;
    line-height: 1px;
    padding-bottom: 1px;
    border-radius: 50%;
    border: 1px solid #8f8f8f;
    background: transparent;
    color: #8f8f8f;
    cursor: pointer;
}

.info-button:focus {
    background: #c5c5c5;
    text-decoration: none;
    outline: none;
}

div.info-close {
    width: 20px;
    height: 20px;
    float: right;
    color: black;
    font-size: 20px;
    position: absolute;
    right: 3px;
    top: -14px;
    cursor: pointer;
}

.room-info {
    width: 740px;
    border-radius: 1%;
    background: rgba(220, 224, 229, 0.7);
    position: absolute;
    z-index: 1;
    top: 50px;
    left: calc(50% - 350px);
}

.room-info {
    padding-top: 5px;
}

.room-info > * {
    margin: 10px auto;
    text-align: center;
}


.room-image img {
    max-width: 700px;
    border-radius: 1%;
}

.room-description {
    max-width: 650px;
    color: #000;
    font-size: 18px;
}

.room-issues {
    color: #222;
    font-size: 16px;
}

/*Auth form*/


.col-xs-12.col-sm-12.col-lg-6 {
    /*left: 25%;
    right: 25%;
    margin-top: 15%;*/
    /*margin-top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);*/
    /*left:25%;
    margin-top: 15%;
    bottom: 25%;
    right: 25%;*/
    /*margin-top: 15%;*/
    top: 15vh;
    margin-left: 25%;
    min-width: 200px;
    z-index: 2;
}

.panel-title {
    padding-bottom: 5px;
    margin: 0;
    background-color: #383e41;
    border-bottom: 1px solid black;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.panel.panel-primary {
    border: 1px solid black;
    background-color: #f0f0f0;
    border-radius: 3px;
}

.col-xs-6.col-sm-6.col-md-6.login-box {
    padding: 10px;
}

.col-xs-6.col-sm-6.col-md-6.separator.social-login-box {
    padding: 10px 10px 50px 10px;
    width: 100%;
}

.btn-block {
   /* margin-left: 7px;
    padding: 5px;*/
    font-size: 14px;
}

.btn-block:focus {
   /* color: blue;*/
}

.login {
    float: right;
    width: 50px;
    height: 32px;
    border: 1px solid #333;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    background-color: #B71C1C;
    color: white;
    border-radius: 4px !important;
}

.login:active {
    border: 2px solid blue;
}

#username {
    font-size: 14px;
}

#password {
    font-size: 14px;
}

.col-xs-12.col-sm-12.col-md-12 {
    display: inline-block;
    border-top: 1px solid #d8d6d2;
    padding: 0;
}

.row {
    margin: 0;
}


/* EVENT SELECTED */
.rbc-calendar .rbc-event {
   z-index: 11;
}

/*Popup*/

.nav-bar{
    text-align: right;
}

.overlay {
    z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
    position: absolute;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    /*right: 25%;*/
    top: 25%;
    bottom: 25%;
    /*margin:  0 auto;*/
    background: url(../images/popup.jpg);
    border-radius: 3px;
}

/*#popup_form{
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    height: 100%;
}*/

.form-group {
    width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

form input{
    /*margin: 0 auto;*/
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

textarea {
    width: 100%;
    min-height: 70px;
    max-height: 70px;
    border-radius: 3px;
}

#form_button{
    clear: left;
}

.btn.btn-default {
    border: 1px solid #333;
}

#del_canc {
    margin-left: 20px;
}

/*.btn.btn-info {
    margin-left: 30px;
}

.btn.btn-primary {
    margin-left: 30px;
}*/

#dates {
    margin-top: 20px;
}

/*.form-control {
    width: 50%;
    min-width: 100px;
}*/
/*.logout {
    background-color: #f0f0f0;
    border: 1px solid #383e41;
}*/

.react-datepicker__input-container {
    display: inline-block;
    margin-top: 20px;
}

.react-datepicker-popper {
    z-index: 12 !important;
}


.react-datepicker__navigation.react-datepicker__navigation--previous {
    margin-left: 20px !important;
    height: 15px;
    border-right-color: #757575;
}


.react-datepicker__navigation.react-datepicker__navigation--next.react-datepicker__navigation--next--with-time {
    margin-right: 20px !important;
    height: 15px;
    border-left-color: #757575;
}

    .react-datepicker__navigation.react-datepicker__navigation--next.react-datepicker__navigation--next--with-time:hover {
        border-left-color: #b3b3b3;
    }

.react-datepicker__time-list {
    padding: 7px 0;
}

.react-datepicker__header.react-datepicker__header--time {
    height: 61px;
}

.react-datepicker__header {
    height: 61px;
}


.control-label {
    color: #B71C1C;
    font-weight: bolder;
}

/* EventsFilter */

.react-datepicker-wrapper {
    float: left;
    display: inline-block;
}


.buttons_filter {
   /* margin-top: 10px;*/
    padding-top: 15px;
}

.start {
    display: inline-block;
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    margin: 20px 5px  0 5px;

}

.end {
    display: inline-block;
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    margin: 20px 5px  0 5px;
}

.filter_btn {
    border: 1px solid #333;
    /*margin-left: 20px;*/
}

input {
    /*border-radius: 3px 0 0 3px;*/
    border-radius: 5px;
}

    .buttons_filter .filter_btn:first-child {
        margin-right: 20px;
    }

    input {
        border-radius: 3px 0 0 3px;

    }

    @media all and (max-width:1000px) {
        .rbc-toolbar {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .rbc-toolbar .rbc-toolbar-label {
            flex-basis: 100%;
            order: 1;
        }

        .rbc-toolbar .rbc-btn-group:first-child {
            order: 2;
        }

        .rbc-toolbar .rbc-btn-group:nth-child(3) {
            order: 3;
        }
    }

    @media all and (max-width:768px) {
        .bodyWrapper {
            flex-wrap: wrap;
        }
        .bodyWrapper > div {
            padding-left: 0;
            flex-basis: 100%;
        }
        aside {
            max-width: none;
        }
        .dates_picker_cont {
            flex-wrap: wrap;
        }
        .hello {
            order: 1;
            flex-basis: 100%;
        }
        .dates_filter {
            flex-wrap: wrap;
        }

        .dates_picker_cont {
            flex-basis: 100%;
            order: 2;
            justify-content: center;
            padding-top: 30px;
        }
    }
    .dates_filter {
        display: flex;
        justify-content: space-between;
    }


    .dates_picker_cont {
        display: flex;
    }

    .react-datepicker-wrapper:before {
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        position: absolute;
        margin-left: -18px;
    }

    #filter_date_from .react-datepicker-wrapper:before {
        content: 'Start:';
    }

    #filter_date_to .react-datepicker-wrapper:before {
        content: 'End:';
    }
    .react-datepicker-wrapper  {
        padding-right: 30px;
    }

/*footer*/

.firm_name {
    float: left;
    font-size: 14px;
    margin-bottom: 23px;
    /*display: inline-block;*/
    /*margin-top: 40px;
    margin-left: 20px;*/

}
    #footer {
        position: absolute;
        bottom: 0;
       /* height: 8%;
        width: 80%;*/
    }

   .img_logo {
        object-fit: contain;
        width: 180px;
        /*height: 64px;*/
        margin-bottom: 10px;
    }

.elinext {
    text-decoration: none;
    color: #B71C1C;
}

.elinext:hover {
    text-decoration: none;
    color: #B71C1C;
}


