    /*Buttons for auth*/
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 10px;background: rgba(0,0,0,0.15); }
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.input-group { margin-bottom:10px; }
.separator { border-right: 1px solid #dfdfe0; }
/*.facebook,.twitter, .vk, .google { min-width:160px; }*/
.facebook { background-color:#3B5998;color:#fff; }
.vk { background-color:#587EA3;color:#fff; }
.google { background-color:#DD4B39;color:#fff; }
.twitter { background-color:#55ACEE;color:#fff; }
.facebook:hover, .twitter:hover, .vk:hover, .google:hover { color: #383e41; }


@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

    /*main page*/
html {
    height: 100%;
}

body.default {
    color: #383e41;
    font: 13px 'Noto Sans', 'Tahoma', sans-serif;
    background: #f8f8f8 url(../images/back.jpg) no-repeat center center fixed;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

input[type=submit] {
    cursor: pointer;
}

h1 {
    width: 80%;
    text-shadow: 4px 3px 0 #d4d5d8, 9px 8px 0 rgba(0,0,0,0.15);
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-right: 20%;
    margin-top: 250px;
}

    /* SCROLL */
::-webkit-scrollbar-button {
    background: #f3f3f3;
    width:5px;
    height:0px
}

::-webkit-scrollbar-track {
    background-color: #f3f3f3;
}

::-webkit-scrollbar-thumb {
    background: #d4d5d8;
}

::-webkit-resizer{
    width:4px;
    height:0px;
}

::-webkit-scrollbar{
    width: 0px;
}

    /*HEADER*/
.reactHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
}

    /*SEARCH*/

.pm-search {
    display: flex;
    flex-grow: 1;
    max-width: 400px;
}

.pm-search button {
    padding: 0 15px;
    text-transform: uppercase;
}

.select-cont {
    width: 100%;
    margin-right: -1px;
}
.Select-input {
    height: 30px!important;
}

.Select-control {
    border-radius: 0!important;
    height: 30px!important;
}

.form-control {
    border-radius: 0;
}

    /*hello-form */

#username_hello{
    color: #383e41 !important;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: normal !important;
    margin-right: 10px;
    text-align: right;
}

.hello {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.link_log {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    /*background: transparent;*/
    font-weight: 500;
    /*color: #b6b6b6;*/
    border: 1px solid #000000;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    transition: .3s ease-in-out;
    background: white;
    color: black;

}

.link_log:hover {
    text-decoration: none;
    background: white;
    color: #b6b6b6;
    border: 1px solid #b6b6b6;

}

    /*General red button style*/

button {
    cursor: pointer;
    background-color: #B71C1C;
    color: white;
    border: none;
    /*border-radius: 0 !important;*/
    height: 32px;
    line-height: 14px;
    font-size: 14px;
    transition: .3s ease-in-out;

}

button:hover {
    text-decoration: none;
    background:  #bd362f;
    color: white;
}


#heading {
    margin: 30px 0;
    flex-basis: 100%;
}

#wrapper {
    max-width: 80%;
    margin: auto;
    min-width: 580px;
}

.bodyWrapper {
    display: flex;
    justify-content: space-between;
    height: 74vh;
}

    .bodyWrapper .calendar-cont {
        flex-basis: 78%;
        padding-left: 2%;
        flex-grow: 1;
    }

header {
    padding-top: 25px;
}

.text {
    text-align: center;
    color: #B71C1C;
}

.react-datepicker-popper {
    z-index: 12 !important;
}


.react-datepicker__navigation.react-datepicker__navigation--previous {
    margin-left: 20px !important;
    height: 15px;
    border-right-color: #757575;
}


.react-datepicker__navigation.react-datepicker__navigation--next.react-datepicker__navigation--next--with-time {
    margin-right: 20px !important;
    height: 14px;
    border-left-color: #757575;
}

.react-datepicker__navigation.react-datepicker__navigation--next.react-datepicker__navigation--next--with-time:hover {
    border-left-color: #b3b3b3;
}

.react-datepicker__time-list {
    padding: 7px 0;
}

.react-datepicker__header.react-datepicker__header--time {
    height: 61px;
}

.react-datepicker__header {
    height: 61px;
}


.control-label {
    color: #B71C1C;
    font-weight: bolder;
}

/* EventsFilter */

.react-datepicker-wrapper {
    float: left;
    display: inline-block;
}


.buttons_filter {
    display: flex;
    flex-grow: 1;
}

/* ROOM BOOKING header*/

blockquote {
    margin: 0;
    background-color: #c1c1c1;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

blockquote p {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
    margin: 0;
}

    /*ASIDE MENU*/

    a:hover {
        text-decoration: none;
        color: #616161;
    }

aside {
    display: inline-flex;
    flex-basis: 20%;
    flex-grow: 1;
    max-width: 200px;
    max-height: 70vh;

}
    aside nav {
        width: 100%;
    }

        aside nav ul {
            margin: 0;
            padding: 0;
        }

            aside nav li {
                list-style-position: inside;
                font: 14px 'Oswald', sans-serif;
                font-weight: 300;
                list-style-type: none;
                border-top: 1px solid #e7e7e7;
                flex-basis: 100%;
            }

            aside nav a {
                text-decoration: none;
                color: #616161;
                padding-left: 15px;
            }


.aside-menu {
    background: #f3f3f3;
    border: 1px solid #e7e7e7;
}

    .aside-menu a:focus {
        color: #b71c1c;
        font-weight: bolder;
    }
    .aside-menu  input[type=checkbox] {
        position: absolute;
        opacity: 0;
    }
    .aside-menu label {
        position: relative;
        display: block;
        font-size: 16px;
        cursor: pointer;
        margin: 0;
        padding: 10px 10px 10px 38px;
    }
    .aside-menu ul {
        display: none;
        flex-wrap: wrap;
    }
    .aside-menu input[type=checkbox]:checked + label + ul,
    .aside-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
        display: block;
    }
    .room-list {
        overflow-y: scroll;
        max-height: 400px;
    }

    .room-list > li {
        background: white;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
    }


    .aside-menu label::before {
        /* icons */
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        background-image: url(../images/down-arrow.png) ;
        -webkit-background-size: contain;
        background-size: contain;
        transition: .1s ease-in-out;
        left: 18px;
        background-repeat: no-repeat;
        background-position: 0 0;
        -webkit-transform: translateY(-50%) rotate(-90deg);
        -moz-transform: translateY(-50%) rotate(-90deg);
        -ms-transform: translateY(-50%) rotate(-90deg);
        -o-transform: translateY(-50%) rotate(-90deg);
        transform: translateY(-50%) rotate(-90deg);
    }

    .aside-menu input[type=checkbox]:checked + label::before {
        /* rotate arrow */
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.all_events {
    /*background-color: transparent;*/
    display: flex;
    padding: 10px 10px 10px 50px;
    color: #383e41;
    padding-left: 50px;
    font-family: 'Oswald';
    font-size: 16px;
}

.all_events:hover {
    border: none;
    background-color: transparent;
    color: #383e41;
}


    /*CALENDAR*/

.rbc-calendar {
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    height: 74vh !important;
    position: relative;
}



/* border-bug*/
.rbc-time-header.rbc-overflowing {
    border-right: 0!important;
}

.rbc-header {
    background-color: #d4d5d8;
}

    .rbc-toolbar {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .rbc-toolbar button {
        font-family: 'Oswald', Sans-Serif;
    }

    .rbc-toolbar .rbc-toolbar-label {
        color: #0c0c0c;
        font-size: 20px;
        padding: 15px!important;
    }

    .rbc-row {
        line-height: 20px;
    }

    .rbc-month-row {
        z-index: 0;
    }

    .rbc-off-range-bg {
        background: #f6f7fb!important;
    }

.rbc-event {
    /*background-color: rgba(162, 162, 166, 0.93) !important;*/
    border: 1px solid #000000 !important;
}



/* info-window & info-button */

.info-show {
    margin-right: 15px;
    cursor: pointer;
}

.info-button {
    height: 16px;
    font-size: 12px;
    font-weight: bolder;
    line-height: 1px;
    padding-bottom: 1px;
    border-radius: 50%;
    border: 1px solid #8f8f8f;
    background: transparent;
    color: #8f8f8f;
    cursor: pointer;
}

.info-button.black {
    background: rgba(200, 200, 200, 0.7);
}

.info-button:focus {
    text-decoration: none;
    outline: none;
}

.info-close {
    color: white;
    font-size: 20px;
    position: absolute;
    right: 15px;
    cursor: pointer;
    transition: .3s ease-in-out;
    z-index: 1;
}
    .info-close:hover {
        color: black;
        border-color: black;
    }

.room-info {
    display: flex;
    flex-wrap: wrap;
    background: white;
    position: absolute;
    z-index: 23;
    top: 10vh;
    width: 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.room-desc-cont {
    width: 100%;
    max-height: 50vh;
    overflow: scroll;
}

.room-image-cont {
    width: 100%;
}

.room-info .room-image {
    height: 35vh;
    object-fit: cover;
    width: 100%;
}

.room-description {
    overflow-y: scroll;
    color: #000;
    font-size: 17px;
    padding:20px 15px;
    background: #f0f0f0;

}

.room-issues {
    color: #222;
    font-size: 16px;
    padding: 15px;
}

.room-issue {
    padding-top: 15px;
}

.room-issue:last-child {
    padding-bottom: 15px;
}

.room-issues-form {
    padding: 15px;
}

.room-button {
    min-width: 70px;
}

/*Issues*/

.room-issues-input {
    padding: 8px 0 0 10px;
}

.room-issues-input:focus {
    outline: none;
    text-decoration: none;
}

.room-issues-button-cont {
    text-align: right;
}

.room-issues-button {
    cursor: pointer;
    padding: 0 20px;
    text-transform: uppercase;
}

.room-issues-button:focus {
    outline: none;
    text-decoration: none;
}


/*Auth form*/


.col-xs-12.col-sm-12.col-lg-6 {
    /*left: 25%;
    right: 25%;
    margin-top: 15%;*/
    /*margin-top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);*/
    /*left:25%;
    margin-top: 15%;
    bottom: 25%;
    right: 25%;*/
    /*margin-top: 15%;*/
    top: 15vh;
    min-width: 200px;
    z-index: 2;
}

.panel-title {
    padding-bottom: 5px;
    margin: 0;
    background-color: #383e41;
    border-bottom: 1px solid black;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.panel.panel-primary {
    border: 1px solid black;
    background-color: #f0f0f0;
    border-radius: 0;
}

.col-xs-6.col-sm-6.col-md-6.login-box {
    padding: 10px;
}

.col-xs-6.col-sm-6.col-md-6.separator.social-login-box {
    padding: 10px 10px 30px 10px;
    width: 100%;
}

.btn-block {
    font-size: 14px;
}

.login {
    border: 0;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #B71C1C;
    color: white;
    border-radius: 0;
    height: 32px;
    margin-bottom: 10px;
}

.login:active {
    border: 2px solid blue;
}


.anon_link {
    display: block;
    padding-top: 7px;
    text-decoration: none;
    color: #b6b6b6;
    border: 1px solid #b6b6b6;
    text-transform: uppercase;
    font-size: 14px;
    /*background-color: #B71C1C;*/
    border-radius: 0;
    height: 32px;
    text-align: center;
}

.anon_link:hover {
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;

}

#username {
    font-size: 14px;
    margin-right: 0 !important;
}

#password {
    font-size: 14px;
    margin-right: 0 !important;
}

.col-xs-12.col-sm-12.col-md-12 {
    display: inline-block;
    border-top: 1px solid #d8d6d2;
    padding: 0;
}

.row {
    margin: 0;
    display: flex;
    justify-content: center;
}


/* EVENT SELECTED */
.rbc-calendar .rbc-event {
   z-index: 11;
}

/*Popup*/

.nav-bar{
    text-align: right;
}

.overlay {
    /*z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;*/
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.5);
}


.popup_inner {
    /*display: flex;
    width: 600px;
    height: 500px;
    align-items: center;*/
    background: url(../images/popup.jpg);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    min-width: 312px;

}

.form-group {
    width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

form input{
    /*margin: 0 auto;*/
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

textarea {
    width: 100%;
    min-height: 70px;
    max-height: 70px;
    margin-bottom: 30px;
}

#form_button{
    clear: left;
}

.btn.btn-default {
    border-radius: 0 !important;
    margin-right: 20px !important;
    margin-bottom: 10px !important;
}

.btn {
    border-radius: 0 !important;
}


#del_canc {
    /*margin-left: 20px;*/
    width: 81px;
}

#dates {
    margin-top: 20px;
}

.filter_btn {
    font-family: 'Tahoma';
    text-transform: uppercase;
    font-size: 14px;
}

filter_btn:hover {
    background: #D32F2F;
}

.buttons_filter .filter_btn:first-child {
    margin-right: 20px;
}

.dates_filter {
    display: flex;
    justify-content: space-between;
}


.dates_picker_cont {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.react-datepicker-wrapper:before {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    /*position: absolute;*/
    /*margin-left: -18px;*/
    padding-top: 20px;
    margin-right: 7px;

}

#filter_date_from .react-datepicker-wrapper:before {
    content: 'Start:';
    font-family: 'Tahoma';
}

#filter_date_to .react-datepicker-wrapper:before {
    content: 'End:';
    font-family: 'Tahoma';
}
.react-datepicker-wrapper  {
    padding-right: 20px;
}

/*footer*/

.firm_name {
    float: left;
    font-size: 14px;
    margin-bottom: 23px;
    /*display: inline-block;*/
    /*margin-top: 40px;
    margin-left: 20px;*/

}
#footer {
    position: absolute;
    bottom: 0;
    /* height: 8%;
     width: 80%;*/
}

.img_logo {
    object-fit: contain;
    width: 180px;
    /*height: 64px;*/
    margin-bottom: 10px;
}

.elinext {
    margin-left: 5px;
    text-decoration: none;
    color: #B71C1C;
}

.elinext:hover {
    text-decoration: none;
    color: #B71C1C;
}

    /*MEDIA*/
@media all and (max-width:1024px) {
    #wrapper {
        max-width: 94%;
    }
    .reactHeader {
        padding-top: 5px;
    }

    .rbc-toolbar {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .rbc-toolbar .rbc-toolbar-label {
        flex-basis: 100%;
        order: 1;
        padding: 5px 0 5px!important;
    }

    .rbc-toolbar .rbc-btn-group:first-child {
        order: 2;
    }

    .rbc-toolbar .rbc-btn-group:nth-child(3) {
        order: 3;
    }
    .room-info {
        width: 90%;
    }

    .hello {
        order: 1;
        flex-basis: 100%;
    }

    .dates_filter {
        flex-wrap: wrap;
        order: 2;
    }

    .dates_picker_cont {
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 5px;
    }

    .pm-search {
        order: 2;

    }

    #heading {
        order: 3;
        margin: 10px 0;
    }

    /*#footer {
        display: none;
    }*/
}


@media all and (max-width:768px) {
    #wrapper {
        max-width: 100%;
    }

    .bodyWrapper {
        flex-wrap: wrap;
    }

    .bodyWrapper .calendar-cont {
        padding-left: 0;
        flex-basis: 100%;
    }

    .default{
        background-size: auto;
    }

    aside {
        max-width: none;
        height: auto;
    }
    .rbc-calendar {
        height: auto!important;
    }

}

@media all and (max-width: 800px) {
    #footer {
        display: none;
    }
}

@media all and (max-height: 780px) {
    #footer {
        display: none;
    }
}

