.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.input-group { margin-bottom:10px; }
.separator { border-right: 1px solid #dfdfe0; }
.facebook,.twitter { min-width:170px; }
.facebook { background-color:#3B5998;color:#fff; }
.vk { background-color:#587EA3;color:#fff; }
.google { background-color:#DD4B39;color:#fff; }
.twitter { background-color:#55ACEE;color:#fff; }
.facebook:hover,.twitter:hover { color:#fff; }

html, body {
    height: 100vh;
}

body {
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background: url(../bg.png) #f8f8f8;
    background-size: cover;
    margin: 0;

}

#username{
    font-size: 15px;
}


button {
    color: #fff;
    background-color: #81898f;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
form[name="search"] {
    float: right;

}

nav {
    background: #f3f3f3;
    border: 1px solid #e7e7e7;
}

#heading {
    margin: 40px 0;

}

#wrapper {
    max-width: 80%;
    margin: auto;
}

header {
    padding: 28px 0;

}
.text {
    text-align: center;
}

aside {
    float: left;
    width: 250px;
}


section {
    margin-left: 280px;
    padding-bottom: 50px;
}

nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}
nav {

    width: 100%;
}


nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 135px;
    margin: 0;
    width: 2%;

}

.top-menu li.active {
    background: #383e41;
    color: #fbfdff;
}

.top-menu a {
    color: #b2b2b2;
}

.aside-menu li {
    font-weight: 300;
    list-style-type: square;
    border-top: 1px solid #e7e7e7;
}

.aside-menu li.active {
    color: #383e41;
    font-weight: bolder;
}

.aside-menu a {
    color: #8f8f8f;
}

blockquote {
    margin: 0;
    background: #81898f;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

blockquote p {
    color: #fff;
    font-style: italic;
    font-size: 33px;
    margin: 0;
}



figure {
    display: inline-block;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

#logout {
    float: right;
}

.jqx-grid.jqx-scheduler.jqx-reset.jqx-rc-all.jqx-widget.jqx-widget-content.jqx-disableselect {
    width: 100% !important;
    height: 75vh !important;
}

.jqx-scheduler-toolbar.jqx-widget-header {
    width: 100% !important;
}

[type=button] {
    -webkit-appearance: none !important;
}

.rbc-calendar .rbc-event {
    z-index: 11;
}


/*Alex10101 info-window & info-button*/



.info {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.info-button {
    width: 22px;
    height: 22px;
    font-weight: bold;
    line-height: 15px;
    padding-bottom: 10px;
    border-radius: 50%;
    border: 2px solid #8f8f8f;
    background: transparent;
    color: #8f8f8f;
    cursor: pointer;
}

.info-button:focus {
    background: #c5c5c5;
    text-decoration: none;
    outline: none;
}

div.info-close {
    width: 20px;
    height: 20px;
    float: right;
    color: black;
    font-size: 20px;
    position: absolute;
    right: 3px;
    top: -14px;
    cursor: pointer;
}

.room-info {
    width: 740px;
    border-radius: 1%;
    background: rgba(210, 210, 210, 0.7);
    position: absolute;
    z-index: 1;
    top: 50px;
    left: calc(50% - 350px);
}

.room-info {
    padding-top: 5px;
}

.room-info > * {
    margin: 10px auto;
    text-align: center;
}


.room-image img {
    max-width: 700px;
    border-radius: 1%;
}

.room-description {
    max-width: 650px;
    color: #000;
    font-size: 18px;
}

.room-issues {
    color: #222;
    font-size: 16px;
}
