
.nav-bar{
    text-align: right;
}

.overlay {
    z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    /*margin:  0 auto;*/
    background: url(../images/popup2.jpg);


}

/*#popup_form{
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    height: 100%;
}*/

.form-group {
    width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

form input{
    /*margin: 0 auto;*/
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

textarea {
    width: 100%;
    /*text-align: center;*/
    height: 70px;

}

/*#form_button{

    display: inline-block;
    margin-left: 20%;
    margin-top: 20px;

}*/

.btn.btn-default {
    margin-left: 30px;
}

/*.btn.btn-info {
    margin-left: 30px;
}

.btn.btn-primary {
    margin-left: 30px;
}*/

#dates {
    margin-top: 20px;
}

.form-control {
    width: 50%;
    min-width: 100px ;
}

button {
    background-color: #f0f0f0;
}




/*.img-button{
    width: 10%;
}*/



.react-datepicker__input-container {
    display: inline-block;
    margin-top: 20px;

}

.react-datepicker__navigation.react-datepicker__navigation--previous {
    margin-left: 15px !important;
}

.react-datepicker__navigation.react-datepicker__navigation--next.react-datepicker__navigation--next--with-time {
    margin-right: 20px !important;
}

/*.react-datepicker__time-list-item {
    text-align: left;
}*/

.react-datepicker__time-list {
    padding: 7px 0;
}

.react-datepicker__header.react-datepicker__header--time {
    height: 58px;
}







